html {
  background: white;
}

body {
  position: relative;
  margin: 0;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls.master {
  justify-content: space-between;
  width: 700px;
}
